@import "helpers/mixins.css";

.help-container {

  & .help-header {
    background-image: url("/images/ayuda/Aerial_View_of_Ocra,_Part_2.jpg");
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    object-fit: scale-down;
    position: relative;
    justify-content: flex-end;
    transition: opacity 1s ease-in-out;
    z-index: 10;
    &::before {
      @mixin absolute-expand;
      display: block;
      content: "";
      z-index: -1;
      background-image: linear-gradient(transparent, var(--dark-3) 500px);
    }

    @mixin max-md {
      background-size: 150vw 40vh;
      height: 40vh;
      min-height: 40vh;
      object-fit: cover;
      &::before {
        background-image: linear-gradient(transparent, var(--dark-3) 350px);
      }
    }

    @media (max-width: 991px) {
      @mixin max-md {
        background-size: 150vw 40vh;
        height: 40vh;
        min-height: 40vh;
        object-fit: cover;
        &::before {
          background-image: linear-gradient(transparent, var(--dark-3) 240px);
        }
      }
    }

    & .help-header-title {
      padding: var(--gutter-xxl) var(--gutter-xxxl);
      color: var(--white);
      font-family: "Open Sans";
      font-size: var(--font-xxl);
      font-weight: 300;
      letter-spacing: 1px;

      @mixin max-lg {
        padding: var(--gutter-xl) var(--gutter-xxl);
      }

      @mixin max-md {
        padding: 0;
        padding-bottom: var(--gutter-md);
        text-align: center;
      }
    }
  }

  & .help-content {
    display: flex;
    background-color: var(--dark-3);
    align-items: center;
    flex-direction: column;
    padding: var(--gutter-md) var(--gutter-xxl);
    width: 100%;

    @mixin max-lg {
      padding: var(--gutter-md) var(--gutter-xl);
    }

    & .help-header {
      color: var(--white);
      font-family: "Open Sans";
      font-size: var(--font-xxl);
      font-weight: 300;
      letter-spacing: 1px;
      padding: var(--gutter-sm);

      @mixin max-md {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    & .help-sub-header {
      color: var(--white);
      display: none;
      font-family: "Open Sans";
      font-size: var(--font-md);
      font-weight: 300;
      letter-spacing: 1px;

      @mixin max-md {
        display: inline;
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    & .help-content-columns {
      display: flex;
      flex-direction: row;
      padding: var(--gutter-sm) var(--gutter-xl);
      width: 100%;

      @mixin max-md {
        justify-content: center;
        flex-direction: column;
        padding: var(--gutter-sm) calc(var(--gutter-xxs) / 2);
      }

      & .help-content-column-left {
        width: 30%;

        @mixin max-md {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        & .help-content-column-left-title {
          color: var(--white);
          font-family: "Open Sans";
          font-size: var(--font-lg);
          font-weight: 300;
          margin-bottom: var(--gutter-sm);

          @mixin max-md {
            display: none;
          }
        }

        & .help-content-column-left-subtitle {
          color: #919295;
          font-family: "Open Sans";
          font-size: var(--font-sm);
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;

          @mixin max-md {
            margin-top: var(--gutter-xl);
          }
        }

        & .help-content-viz-options {
          margin-top: var(--gutter-md);

          @mixin max-md {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          & .help-content-viz-option-box {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: var(--gutter-xs);
            text-decoration: none;

            @mixin max-md {
              width: 50%;
            }

            & .help-content-viz-option-icon {
              margin-right: 0.5rem;
              height: 2rem;
              width: 2rem;
            }

            & .help-content-viz-option-label {
              color: #919295;
              font-family: "Open Sans";
              font-size: var(--font-sm);
              letter-spacing: 0.5px;

              &.active {
                color: var(--white) !important;
              }
            }
          }
        }
      }

      & .help-content-column-right {
        width: 70%;

        @mixin max-md {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 0;
        }

        & .help-content-column-right-title {
          color: var(--white);
          margin-top: var(--gutter-xl);
        }

        & .help-content-column-right-viz {
          background-color: #32383f;
          height: 500px;
          padding: var(--gutter-md);

          @mixin max-md {
            padding: var(--gutter-xs);
            width: 100%;
          }
        }

        & .help-content-column-right-subtitle {
          color: var(--white);
          font-family: "Open Sans";
          font-size: var(--font-lg);
          font-weight: 300;
          letter-spacing: 0.5px;
          margin: var(--gutter-xl) 0 var(--gutter-md);
        }

        & .help-content-column-right-content {
          color: var(--white);
          font-family: "Open Sans";
          font-size: var(--font-xs);
          font-weight: 300;
          letter-spacing: 0.7px;
        }

        & .help-content-column-right-tabs {
          display: flex;
          margin-top: var(--gutter-md);
          flex-wrap: wrap;

          @mixin max-md {
          justify-content: space-between;
           width: 100%;
          }

          & .help-content-column-right-tab {
            background-color: var(--gpe-red-1);
            color: var(--white);
            display: flex;
            margin-right: var(--gutter-sm);
            padding: var(--gutter-xxs);
            height: 2rem;
            align-items: center;
            justify-content: center;
            width: 150px;
            letter-spacing: 0.5px;

            @mixin max-md {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}
