npm-debug.log*
.DS_Store

# node modules should never be synced with git
node_modules

# these static files will be generated on build
**/static/assets
**/static/reports
**/*.bundle.js

# environment variable files for autoenv and direnv
.env
.envrc
env.bat

# virtual enviroment
/venv

# docker files
dockerfiles/nginx/certs/*
dockerfiles/nginx/conf.d/default.conf

# pm2 ecosystem config
ecosystem.config.js

# google credentials
dataperu-gcp-bucket-token.json

# created topojsons
/static/topojson/cultura_artes.json
/static/topojson/museos.json
/static/topojson/paisaje_cultural_.json
/static/topojson/paisaje_cultural.json
/static/topojson/patrimonio_inmaterial_.json
/static/topojson/patrimonio_inmaterial.json
/static/topojson/reserva_indigena_.json
/static/topojson/reserva_indigena.json
