@import "helpers/mixins.css";

.footer {
  color: var(--white);
  & .footer-nav {
    background-color: var(--dark-3);
    display: flex;
    flex-direction: row;
    padding: var(--gutter-md) var(--gutter-xxl) var(--gutter-md);

    @mixin max-md {
      align-items: center;
      flex-direction: column;
      padding: var(--gutter-md) var(--gutter-xs) var(--gutter-xxs);
    }

    & .footer-nav-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50vw;

      @mixin max-md {
        align-items: center;
        text-align: center;
        width: 100%;
      }

      & .footer-nav-header-image {
        height: 2.5rem;
        overflow: hidden;
        margin: 0 0 -10px -14px;

        @mixin max-md {
          margin: 0;
        }
      }

      & .footer-nav-header-text {
        font-family: "Open Sans";
        font-size: var(--font-xs);
        font-weight: 300;
        letter-spacing: 0;
      }
    }

    & .footer-nav-elements {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 50vw;

      @mixin max-md {
        padding: var(--gutter-md) var(--gutter-lg);
        width: 100%;
      }

      & .footer-nav-element {
        color: var(--white);
        font-size: var(--font-md);
        font-weight: 500;
        letter-spacing: 0;
        text-decoration: none;

        @mixin max-md {
          font-size: 1em;
        }

        @mixin max-sm {
          font-size: 0.8em;
        }
      }
    }
  }

  & .footer-logos {
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45vh;
    padding: var(--gutter-md) var(--gutter-xxl) var(--gutter-xl);

    @mixin max-md {
      flex-direction: column;
      height: 100%;
      padding: var(--gutter-md) var(--gutter-xs) var(--gutter-xxs);
    }

    & .footer-logos-header {
      font-family: "Open Sans";
      font-size: var(--font-xxxs);
      text-transform: uppercase;
      padding-bottom: var(--gutter-sm);
    }

    & .footer-logos-left {
      height: 100%;
      margin-right: var(--gutter-lg);
      width: 33vw;

      @mixin max-md {
        margin-right: 0;
        width: 100%;
      }

      & .footer-logos-team {

        @mixin max-md {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        & .footer-logos-team-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 5rem;
          margin-bottom: var(--gutter-md);

          @mixin max-md {
            align-items: center;
            justify-content: space-around;
            width: 80%;
          }

          & .footer-logo-itp {
            height: 5em;
            margin: 0 0 0 -14px;

            @mixin max-xl {
              height: 4em;
              margin: 0 0 0 -14px;
            }
            @mixin max-lg {
              height: 3.5em;
              margin: 0;
              margin: 0 0 0 -10px;
            }
            @mixin max-md {
              height: 5em;
              margin: 0;
            }
            @mixin max-sm {
              height: 2.7em;
              margin: 0;
            }
          }

          & .footer-logo-produce {
            height: 2.3em;
            width: auto;

            @mixin max-xl {
              height: 2em;
              margin: 0;
            }
            @mixin max-lg {
              height: 1.7em;
              margin: 0;
            }
            @mixin max-md {
              height: 2.2em;
              margin: 0;
            }
            @mixin max-sm {
              height: 1.5em;
              margin: 0;
            }
          }

          & .footer-logo-dw {
            height: 5em;
            width: auto;

            @mixin max-xl {
              height: 4em;
            }
            @mixin max-lg {
              height: 3.7em;
            }
            @mixin max-md {
              height: 5em;
              margin: 0;
            }
            @mixin max-sm {
              height: 3.5em;
            }
          }
        }
      }

      & .footer-logos-support {
        display: flex;
        flex-direction: column;
        height: 5rem;

        @mixin max-md {
          display: none;
        }

        & .footer-logo-bid {
          height: 1.7rem;
          width: 12rem;
        }
      }
    }

    & .footer-logos-right {
      height: 100%;
      width: 50vw;

      @mixin max-md {
        width: 100%;
      }

      & .footer-logos-partners {

        @mixin max-md {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        & .footer-logos-partners-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 5rem;
          margin-bottom: 1.5rem;
          margin-top: 0;

          @mixin max-md {
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: var(--gutter-sm);
            width: 80%;
          }

          & .footer-logo-mef {
            height: 2.3em;
            width: auto;
            margin-bottom: 1em;

            @mixin max-xl {
              height: 2em;
              margin: 0;
            }
            @mixin max-lg {
              height: 1.6em;
              margin: 0;
            }
            @mixin max-md {
              height: 2.2em;
              margin: 0;
            }
            @mixin max-sm {
              height: 2.3em;
            }
            @mixin max-xs {
              height: 1.5em;
            }
          }

          & .footer-logo-mincul {
            height: 2.3em;
            width: auto;
            margin-bottom: 1em;

            @mixin max-xl {
              height: 2em;
              margin: 0;
            }
            @mixin max-lg {
              height: 1.6em;
              margin: 0;
            }
            @mixin max-md {
              height: 2.2em;
              margin: 0;
            }
            @mixin max-sm {
              height: 2.3em;
            }
            @mixin max-xs {
              height: 1.5em;
            }
          }

          & .footer-logo-midagri {
            height: 2.3em;
            margin-bottom: 1em;
            padding-right: 2rem;

            @mixin max-xl {
              height: 2em;
              margin: 0;
            }
            @mixin max-lg {
              height: 1.6em;
              margin: 0;
            }
            @mixin max-md {
              height: 2.2em;
              margin: 0;
            }
            @mixin max-sm {
              height: 2.3em;
            }
            @mixin max-xs {
              height: 1.5em;
            }
          }

          & .footer-logo-inei {
            height: 4em;
            width: auto;
            margin: 0;

            @mixin max-xl {
              height: 3em;
              margin: 0;
            }
            @mixin max-lg {
              height: 2.3em;
              margin-left: -2em;
            }
            @mixin max-md {
              height: 3em;
              margin-left: 0;
              margin-right: 0;
            }
            @mixin max-sm {
              height: 3.5em;
              margin-right: 2rem;
              margin-left: 0;
              margin-top: 0.5em;
            }
            @mixin max-xs {
              height: 2.5em;
            }
          }
        }
      }

      & .footer-logos-support {
        display: none;
        flex-direction: column;
        height: 5rem;

        @mixin max-md {
          display: flex;
          align-items: center;
        }

        & .footer-logo-bid {
          height: 1.7rem;
          width: 12rem;
        }
      }

      & .footer-contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 5rem;

        @mixin max-md {
          justify-content: center;
          width: 100%;
        }

        & .footer-contact-icon {
          height: 1.5rem;
          margin-right: var(--gutter-xxs);
        }

        & .footer-contact-text {
          color: var(--white);
          text-decoration: none;
          font-family: "Open Sans";
          font-size: var(--font-sm);
          font-weight: 600;
          letter-spacing: 0;
        }
      }
    }
  }
}
