@import "helpers/mixins.css";

.footer {
  color: var(--white);
  & .footer-nav {
    background-color: var(--dark-3);
    display: flex;
    flex-direction: row;
    padding: var(--gutter-md) var(--gutter-xxl) var(--gutter-md);

    @mixin max-md {
      align-items: center;
      flex-direction: column;
      padding: var(--gutter-md) var(--gutter-xs) var(--gutter-xxs);
    }

    & .footer-nav-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50vw;

      @mixin max-md {
        align-items: center;
        text-align: center;
        width: 100%;
      }

      & .footer-nav-header-image {
        height: 2.5rem;
        overflow: hidden;
        margin: 0 0 -10px -14px;

        @mixin max-md {
          margin: 0;
        }
      }

      & .footer-nav-header-text {
        font-family: "Open Sans";
        font-size: var(--font-xs);
        font-weight: 300;
        letter-spacing: 0;
      }
    }

    & .footer-nav-elements {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 50vw;

      @mixin max-md {
        padding: var(--gutter-md) var(--gutter-lg);
        width: 100%;
      }

      & .footer-nav-element {
        color: var(--white);
        font-size: var(--font-md);
        font-weight: 500;
        letter-spacing: 0;
        text-decoration: none;

        @mixin max-md {
          font-size: 1em;
        }

        @mixin max-sm {
          font-size: 0.8em;
        }
      }
    }
  }

  & .footer-logos {
    background-color: #000;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: var(--gutter-md) var(--gutter-xxl) var(--gutter-lg);

    @mixin max-md {
      flex-direction: column;
      padding: var(--gutter-md) var(--gutter-lg) var(--gutter-lg);
    }

    & .footer-logos-left {
      margin-right: 10%;
      width: 35%;

      @mixin max-md {
        margin-bottom: var(--gutter-md);
        margin-right: 0%!important;
        width: 100%;
      }

      & .footer-logos-left-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--gutter-md);
        row-gap: var(--gutter-lg);
        align-items: center;

        @mixin max-md {
          column-gap: 0;
        }

        @mixin max-xs {
          row-gap: var(--gutter-md);
        }

        & .left-item-1 {
          justify-self: start;

          @mixin max-md {
            justify-self: center;
          }
        }

        & .left-item-2 {
          justify-self: end;

          @mixin min-xl {
            justify-self: start;
          }

          @mixin max-md {
            justify-self: center;
          }
        }

        & .left-item-3 {
          justify-self: start;

          @mixin max-md {
            justify-self: center;
            grid-area: 2/1/2/4;
          }
        }

        @mixin max-md {
          justify-items: center;
        }

        & .footer-logo-produce {
          height: 3em;
          width: auto;

          @mixin min-xxl {
            height: 4em;
          }

          @mixin max-xl {
            height: 3em;
          }

          @mixin max-lg {
            height: 2em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1.7em;
          }
        }

        & .footer-logo-itp {
          height: 3em;
          width: auto;

          @mixin min-xxl {
            height: 4em;
          }

          @mixin max-xl {
            height: 3em;
          }

          @mixin max-lg {
            height: 2em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1.7em;
          }
        }

        & .footer-logo-bicentenario {
          height: 5em;
          width: auto;

          @mixin min-xxl {
            height: 6em;
          }

          @mixin max-lg {
            height: 3.5em;
          }

          @mixin max-md {
            height: 5em;
          }

          @mixin max-xs {
            height: 3em;
          }
        }
      }
    }

    & .footer-logos-right {
      width: 55%;

      @mixin max-md {
        margin-top: var(--gutter-sm);
        width: 100%;
      }

      & .footer-logos-right-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--gutter-md);
        row-gap: var(--gutter-md);
        align-items: center;

        & .right-item-1, & .right-item-4 {
          justify-self: start;
        }

        & .right-item-2, & .right-item-5  {
          justify-self: center;
        }

        & .right-item-3 {
          justify-self: end;
        }

        & .right-item-6 {
          justify-self: center;

          @mixin min-xxl {
            justify-self: end;
          }
        }

        @mixin max-md {
          justify-items: center;
          row-gap: var(--gutter-sm);
        }

        & .footer-logo-mef {
          height: 3em;
          width: auto;

          @mixin min-xxl {
            height: 4em;
          }

          @mixin max-xl {
            height: 3em;
          }

          @mixin max-lg {
            height: 2em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1em;
          }
        }

        & .footer-logo-mincul {
          height: 3em;
          width: auto;

          @mixin min-xxl {
            height: 4em;
          }

          @mixin max-xl {
            height: 3em;
          }

          @mixin max-lg {
            height: 2em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1em;
          }
        }

        & .footer-logo-midagri {
          height: 3em;
          width: auto;

          @mixin min-xxl {
            height: 4em;
          }

          @mixin max-xl {
            height: 3em;
          }

          @mixin max-lg {
            height: 2em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1em;
          }
        }

        & .footer-logo-concytec {
          height: 3.5em;
          width: auto;

          @mixin min-xxl {
            height: 5em;
          }

          @mixin max-xl {
            height: 3.5em;
          }

          @mixin max-lg {
            height: 2.5em;
          }

          @mixin max-md {
            height: 3em;
          }

          @mixin max-xs {
            height: 1.6em;
          }
        }

        & .footer-logo-bid {
          height: 2em;
          width: auto;

          @mixin min-xxl {
            height: 2.5em;
          }

          @mixin max-lg {
            height: 1.2em;
          }

          @mixin max-md {
            height: 1.7em;
          }

          @mixin max-xs {
            height: 0.7em;
          }
        }

        & .footer-logo-dw {
          height: 6.5em;
          width: auto;

          @mixin min-xxl {
            height: 8em;
          }

          @mixin max-xl {
            height: 6em;
          }

          @mixin max-md {
            height: 5em;
          }
        }
      }
    }

    & .footer-logos-header {
      font-family: "Open Sans";
      font-size: var(--font-xxs);
      text-transform: uppercase;
      padding-bottom: var(--gutter-sm);
      display: flex;

      @mixin max-md {
        justify-content: center;
      }
    }
  }
}
