@import "../helpers/mixins.css";

.home-grid {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  width: 100%;
  & .home-grid-tiles {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: wrap;
    height: 100px;
    margin: var(--gutter-md) 0;
    padding: 0;
  }
}
