.home-explorer {
  background-color: var(--dark-3);
  display: flex;
  flex-direction: column;
  padding: 0 var(--gutter-xl);

  & .home-explorer-nav {
    display: flex;
    align-items: center;

    & .home-explorer-title {
      font-size: var(--font-lg);
      font-weight: var(--light-weight);
    }

    & .home-explorer-selectors {
      display: flex;
      flex: row;
      margin-left: auto;
      margin-right: 0;

      & .home-explorer-option {
        display: flex;
        align-items: center;
        height: var(--gutter-xl);
        margin: auto;

        &:active {
          cursor: pointer;
          border-bottom: 3px solid var(--gpe-red-1);
        }

        &:hover {
          cursor: pointer;
          border-bottom: 3px solid var(--gpe-red-1);
        }


        & .home-explorer-icon {
          height: var(--font-xxl);
          width: var(--font-xxl);
        }

        & .home-explorer-name {
          font-size: var(--font-sm);
          font-weight: var(--light-weight);
          letter-spacing: 1px;
        }
      }
    }
  }

  & .home-explorer-results {
    display: flex;
    flex-direction: row;
    & .home-explorer-map {
        display: flex;
        margin-top: var(--gutter-md);
        width: 40%;
    }
  }
}

.d3plus-tooltip-explorer {
  height: 100px !important;
  width: 300px !important;
  z-index: 101;
  & .d3plus-tooltip-title {
    max-width: 100% !important;
    & .d3plus-tooltip-home-title-wrapper {
      display: flex;
      flex-direction: column;
      padding: var(--gutter-xs);
      & .title {
        color: var(--gpe-red-1);
      }
      & .subtitle {
        border-bottom: 2px solid #ccc;
        color: "#ccc";
        font-size: var(--font-xxs);
        font-weight: var(--base-font-weight);
        padding-bottom: 0.25rem;
      }
    }
  }
  & table {
    min-width: 95% !important;
    width: 95% !important;
    align-items: center !important;
    display: flex !important;
    margin: 0px auto !important;
  }
  & tbody {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
  }
  & tr {
    border-top: 0px solid var(--dark-1) !important;
    width: 100% !important;
    &:first-child {
      border-top: 0px solid var(--dark-1) !important;
    }
  }
  & td {
    text-align: center;
    padding: 5px 5px;
    flex: 1 !important;
    width: 100% !important;
    &:first-child {
      text-align: left;
      font-weight: var(--display-font-weight);
    }
    &:last-child {
      min-width: 100px;
      color: #22242D;
      font-weight: 700;
    }
  }
}
