@import "helpers/mixins.css";

.nav {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: row;
  height: var(--nav-height);
  justify-content: space-between;
  left: 0;
  padding: var(--gutter-xs) var(--gutter-xxl) var(--gutter-xs);
  position: fixed;
  top: 0;
  transition: background-color .75s;
  width: 100%;
  z-index: 21;

  @mixin max-md {
    padding: var(--gutter-xs) var(--gutter-md) var(--gutter-xs);
  }

  & div {
    display: flex;
    flex: 1;

    &.nav-left {
      align-items: center;

      & img {
        height: 2rem;
        width: auto;
      }

      & .nav-left-info {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.5px;
        margin-left: 1em;
        width: 80%;

        & .nav-left-info-title {
          color: var(--white);
          font-size: var(--font-sm);
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 18em;
          display: block;
          overflow: hidden;

          &.solid {
              color: var(--dark-1);
            }
        }

        & .nav-left-info-hierarchy {
          color: var(--gpe-red-1);
          font-family: "Open Sans";
          font-size: var(--font-xxs);
          font-weight: 600;
        }

        @mixin max-md {
          display: none;
        }
      }
    }

    &.nav-center {
      flex: 2;
      font-size: var(--font-xl);
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      & img {
        height: 2rem;
        width: auto;
      }

      & h1 {
        margin: 0;
      }

      & span {
        display: inline-block;
        vertical-align: top;
      }
    }

    &.nav-right {
      justify-content: flex-end;
      & .search-button {
        align-items: center;
        height: 2rem;
        max-width: 2rem;
        transition: all .5s ease-in-out;
        width: 2rem;
        position: absolute;
        top: 1rem;

        @mixin max-md {
          top: 1.3rem;
        }

        & img {
          height: 2rem;
          width: auto;
        }

        &.active {
          background-color: var(--dark-2);
          max-width: 250px;
          padding: 20px 5px;
          top: 1rem;
          transition: all .5s ease-in-out;
          width: 250px;
        }

        & .bp3-icon-search {
          padding: 0 5px 0 10px;
        }
        & .bp3-input-group {
          display: none;
          &.active {
            display: block;
          }
        }
        & .bp3-input {
          background-color: transparent;
          height: inherit;
          border-radius: 0;
          color: var(--white);
          box-shadow: none;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: var(--white);
          }
        }
      }

      & .results {
        position: fixed;
        right: 120px;
        top: 70px;
        margin: 0;
        width: 250px;
        margin-left: -40px;
        list-style: none;
        background-color: var(--dark-2);
        max-height: 300px;
        box-shadow: 0 1px 2px color(var(--black) a(0.5));
        @mixin vertical-overflow-container;
        display: none;

        @mixin max-xl {
          right: 107px;
        }

        @mixin max-md {
          right: 24px;
        }

        &.active {
          display: flex;
          flex-direction: column;
        }

        & .result-icon {
          flex: 0;
        }

        & .result-text {
          flex-direction: column;
          color: var(--white);
          & .title {
            line-height: 1.25;
            margin-bottom: 2px;
          }
          & .level-title {
            color: var(--gray);
          }
        }

        & li {
          margin-left: -40px;
          text-align: left;
          transition: background-color .25s;
          &:hover {
            background-color: var(--gray);
          }
        }

        & .no-search-result {
          background-color: var(--white);
          color: var(--dark-3);
          display: flex;
          align-items: center;
          height: 3.5em;
          padding: 1em;

          &:hover {
            background-color: var(--white);
          }
        }
      }
    }
  }

  &.solid {
    background-color: var(--white);

    & .nav-center .nav-subtitle {
      max-width: 50%;
    }
  }

  & svg {
    height: var(--font-xl);
    width: var(--font-xl);
  }

  & .menu {
    margin-left: 5px;
  }

  & .profile-logo {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 150px;
    & img {
      width: 150px;
    }
  }

}

.nav-search-portal {

  & .nav-search-popover {
    & .bp3-popover-content {
      width: 250px;
      margin: auto;
    }
  }

  & .bp3-transition-container {
    width: 250px;
    z-index: 22;
    margin-top: 10px;
    /* margin-right: -20px; */
    margin-left: -5px;
  }
}

.search-nav {
  & .search-result {
    background-color: var(--white);
  }
}

.cp-subnav.is-fixed {
  background-color: var(--dark-3);
}

.bp3-dialog-container {
  outline: 0;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  &.slide-enter, &.slide-exit.slide-exit-active {
    transform: translateX(-300px);
  }
  &.slide-enter.slide-enter-active, &.slide-exit {
    transform: translateX(0);
  }
}

.bp3-overlay-backdrop {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  &.slide-enter, &.slide-exit.slide-exit-active {
    opacity: 0;
  }
  &.slide-enter.slide-enter-active, &.slide-exit {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    & .nav-subtitle {
      display: none;
    }
  }
}

.nav-button {
  @mixin button-reset;
  color: inherit;

  & [class*="icon"] {
    transition:
      color 0.125s ease-out,
      transform 0.125s ease-out;
  }

  &:hover [class*="icon"],
  &:focus [class*="icon"] {
    color: var(--accent);
    transform: scale(1.075);
  }
}

@media (max-width: 767px) {
  .active-searchbar {
    display: none !important;
  }
  .menu {
    display: none !important;
  }
  .cp-subnav {
    background-color: var(--black) !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .cp-subnav-list {
      width: 100%;
    }
    & .cp-subnav-item {
      width: auto;
      & a {
        font-size: var(--font-sm);
        padding: var(--gutter-xs) var(--gutter-sm);
        padding-left: 0px;
      }
    }
  }
}
