@import "helpers/mixins.css";

.tile-v2-container {
  border: 1px solid var(--dark-4);
  height: 10rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: var(--gutter-xxs);
  width: auto;

  &.tile-v2-large {
    height: 19rem !important;
    width: 20rem !important;
    list-style-type: none;

    @mixin max-lg  {
      height: 16rem !important;
      width: 18rem !important;
    }
    @mixin max-md  {
      height: 14rem !important;
      width: 16rem !important;
    }
  }

  &.tile-v2-layout-full-width {
    width: auto;
  }
  &.tile-v2-layout-cols {
    text-align: left;
    margin: var(--gutter-xxs);
    @mixin max-xl {

    }
    @mixin max-lg  {
      width: 30%;
    }
    @mixin max-md  {
      width: 47%;
    }
    @mixin max-sm  {
      width: 100%;
    }
    @mixin max-xs  {

    }
    @mixin max-xxs{

    }
  }
  &:hover {
    border-color: var(--dark-1);
    transition: 0.15s ease-out;
    & .tile-background {
      transform: scale(1.05);
    }
  }
  & .tile-link {
    & .tile-content {
      display: flex;
      padding: var(--gutter-sm);
      position: absolute;
      width: 100%;
      z-index: 2;
      align-items: center;
      vertical-align: middle;
      height: 100%;

      & .image-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        padding: 0.5em 0em;
        top: 0;
        width: 5rem;
        height: auto;

        & .tile-content-tag {
          max-width: var(--gutter-md);
          max-height: var(--gutter-md);
          margin-right: var(--gutter-xs);
        }
      }

      & .tile-content-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        vertical-align: middle;
        color: var(--white);
        height: 100%;
        text-shadow: 2px 2px 2px rgba(0,0,0,1);

        & .description-content {
          & .tile-content-description-title {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            font-weight: 400;
            margin-bottom: calc(var(--gutter-xs) / 2);
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
          }

          & .tile-content-description-level {
            display: flex;
            text-align: left;
            font-size: calc(var(--font-xxxs) + 0.1rem);
            font-weight: var(--base-font-weight);
            text-transform: uppercase;
          }
        }
      }
    }
    & .tile-background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      transition: transform 0.3s ease-out;
      width: 100%;
      z-index: -1;
      &::before {
        @mixin absolute-expand;
        display: block;
        content: "";
        z-index: 1;
        background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.9), rgba(255,255,255,0.1));
      }
    }
  }
  & .tile-background-color {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
