@import "../../helpers/mixins.css";

.about-container {
  height: 100vh;

  & .about-header {
    background-image: url("/images/about/mckayla-crump-hjanvZlqoB8-unsplash.jpg");
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    object-fit: scale-down;
    position: relative;
    justify-content: flex-end;
    transition: opacity 1s ease-in-out;
    z-index: 10;
    &::before {
      @mixin absolute-expand;
      display: block;
      content: "";
      z-index: -1;
      background-image: linear-gradient(transparent, var(--dark-3) 500px);
    }

    @media (max-width: 991px) {
      @mixin max-md {
        background-size: 150vw 40vh;
        height: 40vh;
        min-height: 40vh;
        object-fit: cover;
        &::before {
          background-image: linear-gradient(transparent, var(--dark-3) 240px);
        }
      }
    }

    @mixin max-md {
      background-size: 150vw 40vh;
      height: 40vh;
      min-height: 40vh;
      object-fit: cover;
      &::before {
        background-image: linear-gradient(transparent, var(--dark-3) 350px);
      }
    }

    & .about-header-title {
      padding: var(--gutter-xxl) var(--gutter-xxxl);
      color: var(--white);
      font-family: "Open Sans";
      font-size: var(--font-xxl);
      font-weight: 300;
      letter-spacing: 1px;

      @mixin max-lg {
        padding: var(--gutter-xl) var(--gutter-xxl);
      }

      @mixin max-md {
        padding: 0;
        padding-bottom: var(--gutter-md);
        text-align: center;
      }
    }
  }

  & .about-content {
    background-color: var(--dark-3);
    padding: var(--gutter-xl) var(--gutter-xxxl);

    @mixin max-lg {
      padding: var(--gutter-xxl) var(--gutter-xxl);
    }

    @mixin max-md {
      padding: var(--gutter-md) var(--gutter-xxl);
    }

    @mixin max-sm {
      padding: var(--gutter-md) var(--gutter-lg);
    }

    & .about-itp {
      display: flex;
      flex-direction: column;

      & .about-itp-title {
        color: var(--white);
        font-size: var(--font-xl);
        padding-bottom: var(--gutter-lg);

        @mixin max-md {
          text-align: center;
        }
      }

      & .about-itp-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @mixin max-md {
          flex-direction: column;
        }

        & .about-itp-description {
          flex: 1;
          margin-right: var(--gutter-xxl);

          @mixin max-lg {
            margin-right: var(--gutter-xl);
          }

          @mixin max-md {
            margin-right: 0;
          }

          & .about-itp-description-text {
            color: var(--white);
            font-size: var(--font-sm);
            font-family: "Open Sans";
            font-weight: 300;
            padding-bottom: var(--gutter-sm);
          }
        }

        & .about-itp-highlights {
          flex: 1;

          @mixin max-md {
            margin-top: var(--gutter-md);
          }

          & .about-itp-highlights-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #1c1f23;
            color: var(--white);
            margin-bottom: var(--gutter-lg);
            padding: var(--gutter-xl);
            height: 200px;
            width: 100%;

            @media (max-width: 1799px) {
              height: 300px;
              padding: var(--gutter-md);
            }

            @mixin max-xl {
              height: 300px;
              padding: var(--gutter-md);
            }

            @mixin max-lg {
              height: 300px;
              padding: var(--gutter-md);
            }

            @mixin max-md {
              padding: var(--gutter-md);
            }

            @mixin max-sm {
              height: 250px;
              padding: var(--gutter-md);
            }

            & .about-itp-box-image {
              height: 100px;
              width: auto;
              margin-right: var(--gutter-sm);

              @mixin max-sm {
                height: 70px;
              }

              @mixin max-sm {
                height: 50px;
              }
            }

            & .about-itp-box-description {
              padding: var(--gutter-lg);

              @media (max-width: 1799px) {
                padding: var(--gutter-sm);
              }

              @mixin max-sm {
                padding: var(--gutter-sm);
              }

              & .about-itp-box-title {
                font-family: "Open Sans";
                font-size: var(--font-xl);
                font-weight: 300;
              }

              & .about-itp-box-value {
                font-family: "Open Sans";
                font-size: var(--font-sm);
                font-weight: 300;
                padding-top: var(--gutter-sm);

                @mixin max-sm {
                  font-size: var(--font-xs);
                }
              }
            }
          }
        }
      }
    }

    & .about-itp-produccion {
      display: flex;
      flex-direction: column;
      margin-top: var(--gutter-xl);

      @mixin max-md {
        margin-top: var(--gutter-sm);
      }

      & .about-itp-produccion-title {
        display: flex;
        color: var(--white);
        font-size: var(--gutter-md);
        justify-content: center;
        padding-bottom: var(--gutter-lg);
      }

      & .about-itp-produccion-description {
        color: var(--white);
        font-size: var(--font-sm);
        font-family: "Open Sans";
        font-weight: 300;
        padding-bottom: var(--gutter-md);
      }

      & .about-topics-highlights-box {
        display: flex;
        flex-direction: column;

        & .about-topics-item {
          display: flex;
          flex-direction: row;
          margin-bottom: var(--gutter-sm);
          width: 100%;
          background-color: #1c1f23;
          padding: var(--gutter-md);

          @mixin max-md {
            flex-direction: column;
            padding: var(--gutter-lg);
          }

          & .about-topics-element {
            display: flex;
            align-items: center;
            flex: 1;

            @mixin max-md {
              justify-content: center;
              margin-bottom: var(--gutter-md);
            }

            & .about-topics-element-icon {
              height: var(--gutter-xxl);
              width: auto;
              margin-right: var(--gutter-sm);

              @mixin max-lg {
                height: 4rem;
              }

              @mixin max-md {
                height: 4rem;
              }

              @mixin max-sm {
                height: 4rem;
              }
            }

            & .about-topics-element-title {
              color: var(--white);
              font-family: "Open Sans";
              font-size: var(--font-lg);
              font-weight: 300;

              @mixin max-sm {
                font-size: var(--font-md);
              }
            }
          }

          & .about-topics-description {
            display: flex;
            align-items: center;
            flex: 2;
            color: var(--white);
            font-family: "Open Sans";
            font-size: var(--font-sm);
            font-weight: 300;

            @mixin max-lg {
              padding: var(--gutter-md);
            }
            @mixin max-md {
              padding: var(--gutter-sm);
            }
          }
        }
      }
    }
  }
}
