@import "../../helpers/mixins.css";

/* hero */

.cp-hero.cp-section {
  background: linear-gradient(var(--dark-3) 20%, var(--black) calc(100% - var(--subnav-height)));
  justify-content: center;
  min-height: auto;
  padding: calc(var(--nav-height) + var(--gutter-sm)) var(--gutter-lg) calc(var(--subnav-height) + var(--gutter-md));
  position: relative;
  text-shadow: 0 0 5px var(--black);
  z-index: 1;
  @mixin min-sm {
    min-height: 35rem;
  }
  & .cp-hero-inner {
    padding: 0;

    @mixin min-md {
      flex-wrap: nowrap;
    }

    & .cp-hero-caption {
      text-align: left;
      & .cp-hero-heading {
        font-weight: 200;
      }
      & .cp-hero-stat-group-wrapper {
        display: block;
        & .cp-hero-stat {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: var(--gutter-md);
          padding-bottom: var(--gutter-xs);
          position: relative;
          & .cp-stat-value {
            & .cp-stat-value-text {
              color: var(--white);
              font-size: var(--font-xl);
              font-weight: 100;
            }
          }
          & .cp-stat-label {
            & .cp-stat-label-text {
              font-size: var(--font-xxs);
              font-weight: bold;
            }
          }
          &:after {
            background-color: var(--accent);
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            top: 100%;
            width: 20px;
          }
        }
      }
    }
  }
  & .cp-hero-credits {
    background-color: none;
    position: absolute;
    right: var(--gutter-md);
    top: calc(var(--nav-height) + var(--gutter-sm));
    max-width: 400px;
    & .cp-hero-credits-button {
      float: right;
      position: relative;
    }
    & .cp-hero-credits-text {
      font-size: var(--font-xs);
      margin: 0;
    }
    &.is-open {
      & .cp-hero-credits-button {
        top: 0;
      }
    }
  }
  & .cp-hero-img-overlay {
    background: linear-gradient(color(var(--black) alpha(0.5)) 80%, var(--black) 100%);
    opacity: 1;
  }
  & .cp-hero-pdf {
    display: none;
  }
}

.cp-subnav {
  & .cp-subnav-list {
    & .cp-subnav-item {
      font-weight: 600;
      text-transform: uppercase;
      &.is-active {
        & .cp-subnav-link {
          color: var(--white);
        }
      }
      & .cp-subnav-group-list {
        background-color: var(--black);
      }
    }
    &.cp-subnav-secondary {
      background-color: var(--dark-1);
      flex: none;
      min-height: 40px;
      & .cp-subnav-item {
        font-weight: 600;
        text-transform: none;
        & .cp-subnav-link:before {
          content: "›";
          font-size: var(--font-md);
          font-weight: 100;
          line-height: var(--font-xs);
          margin-right: 5px;
        }
        & .cp-subnav-group-list {
          background-color: var(--dark-1);
        }
        &.is-active {
          background-color: var(--dark-3);
          & .cp-subnav-link:before {
            color: var(--accent);
          }
          & .cp-subnav-group-list {
            background-color: var(--dark-3);
          }
        }
      }
    }
  }
}

.cp-hero-figure {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid var(--light-3);
  border-radius: 1000px;
  flex: none;
  flex-basis: auto !important;
  height: 400px;
  margin-right: var(--gutter-lg);
  min-width: auto !important;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  width: 400px !important;
  & .cp-viz-container {
    margin-top: 0;
  }
  & .cp-viz-figure {
    height: 400px;
    margin: 0 !important;
    min-height: auto !important;
    padding: 0 !important;
    width: 400px;
  }
  @mixin max-md {
    display: none;
  }
}

.cp-section.cp-grouping-section {
  display: flex;
  align-items: center;
  background-color: var(--dark-2);
  color: var(--black);
  height: 150px;
  padding: 0;
  & .cp-section-heading {
    color: var(--white);
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 0;
  }
}

.cp-section.cp-sub-grouping-section {
  display: flex;
  align-items: center;
  background-color: var(--light-2);
  height: 100px;
  & .cp-sub-grouping-section-heading {
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
}

.cp-grouping {
  background-color: var(--light-1) !important;
  & .cp-section:not(.cp-hero) {
    &:not(.cp-grouping-section) .cp-section-heading {
      font-size: var(--font-lg);
      font-weight: bolder;
      letter-spacing: 1px;
    }
    & .cp-button-group {
      font-size: var(--font-xxs);
      flex-wrap: wrap;
      margin-bottom: var(--gutter-sm);
      & .cp-label {
        color: var(--gray);
        font-size: var(--font-xxs);
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
        width: 100%;
      }
    }
    & .cp-button {
      border-color: var(--accent-dark);
      border-radius: 0;
      color: var(--accent);
      font-size: var(--font-xxs);
      font-weight: bold;
      &.is-active, &:hover, &:focus {
        background-color: var(--accent-dark);
        color: var(--white);
      }
      &.cp-var-reset-button {
        margin-top: var(--gutter-sm);
      }
    }
    & .cp-select-label {
      & .cp-select-icon {
        color: var(--light-3);
      }
      & .cp-select {
        background: none;
        border: 0;
        border-bottom: 1px solid var(--light-3);
        border-radius: 0;
        color: var(--accent-dark);
        font-size: var(--font-xs);
        font-weight: bold;
      }
    }
    & .cp-stat-value-text {
      color: var(--dark-2);
      font-weight: lighter;
    }
    & .cp-stat-label-text {
      color: var(--accent-dark);
      font-size: var(--font-xxs);
      font-weight: bold;
    }
    & .cp-stat-subtitle {
      color: var(--dark-2);
      font-size: var(--font-xxs);
    }
    & .cp-section-paragraph {
      color: var(--dark-1);
      font-size: var(--font-xs);
      line-height: 1.45;
      margin: var(--gutter-sm) 0;
    }
    & .SourceGroup {
      color: var(--gray);
      & a {
        color: var(--gray);
      }
    }
    & .cp-viz-header {
      & .cp-viz-title {
        color: var(--dark-1);
        font-size: var(--font-xs);
        font-weight: lighter;
        margin: 0;
        text-align: center;
        width: 100%;
        & .dpe-click2select {
          color: var(--accent) !important;
        }
      }
      & .Options {
        background-color: transparent;
        & .cp-button-group {
          width: auto;
        }
        & .options-button {
          background-color: transparent;
          border: 0;
          border-radius: 0;
          font-size: var(--font-sm);
          & .cp-button-icon {
            color: var(--light-3);
          }
          & .cp-button-text {
            display: none;
          }
          &:hover {
            background-color: var(--accent);
            & .cp-button-icon {
              color: var(--white);
            }
          }
        }
      }
    }
    & .cp-viz-figure {
      top: 2rem;
    }
  }
}

/**
      CITE Profile Specific
**/
.cp-main > .cp-grouping:first-child > .cp-single-column-section-grouping {
  & .cp-single-column-section {
    align-self: flex-start;
    & .cp-section-content {
      max-height: 500px;
      overflow-y: scroll;
      & .cp-section-paragraph {
        margin-bottom: var(--gutter-xl);
      }
    }
    & .cp-var-reset-button {
      display: none;
    }
    & .cp-graphic-viz-container {
      flex: none;
      height: auto !important;
      margin: 3px 0;
      min-height: 0;
      padding: var(--gutter-xs);

      & .cp-viz-figure {
        margin: 0;
        top: 0;
      }

      & .cp-graphic {
        display: flex;
        flex-direction: row;

        & .cp-graphic-img {
          height: 3rem;
          margin-right: 0.5rem;
        }

        & .cp-stat-value {
          display: flex;
          flex-direction: column-reverse;

          & .cp-stat-subtitle {
            color: var(--accent-dark);
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          & .cp-stat-value-text {
            color: var(--gray);
            font-size: var(--font-md);
            margin-top: 3px;

            & img {
              height: auto!important;
              width: 400px!important;
              max-width: 400px!important;
            }
          }
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      & .cp-graphic-viz-container {
        background: var(--light-2);
      }
    }
  }
}

.cp-var-reset-button[disabled] {
  width: 1px !important;
}

.cp-main > .cp-grouping > .cp-multi-column-section {
  & .cp-multi-column-section-caption {
    columns: 2;

    @mixin max-md {
      columns: 1;
    }

    & .cp-graphic-viz-container {
      min-height: 100px !important;
      & .cp-graphic {
        display: flex;
        align-items: center;
        & .cp-graphic-img {
          height: 5rem;
          padding-right: 1rem;
        }
        & .cp-stat-value-text {
          color: var(--gpe-red-1);
          font-weight: 500;
        }
        & .cp-stat-subtitle {
          color: var(--dark-1);
          font-size: var(--font-sm);
        }
      }
    }
  }

}
