@import "../../helpers/mixins.css";

.ep-profile {
  flex: 1 1 12.5rem;
  color: var(--dark-1);
  text-align: center;

  &.virtual-list {
    padding-bottom: 160px;
  }

  & .ep-profile-no-results {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .icon {
      height: 120px;
    }

    & .message {
      max-width: 600px;
      padding: 20px;
      color: #7a7c7f;
    }
  }

  & .ep-profile-title {
    padding: var(--gutter-xs);
  }

  & .ep-profile-results {
    @mixin list-reset;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--gutter-md) var(--gutter-md);
    grid-auto-flow: row dense;
    padding: 0 0 var(--gutter-sm);
    overflow: visible;

    @mixin max-md {
      padding: 0 !important;
      width: 100% !important;
    }
  }

  & .message {
    max-width: 100%;
    padding: 20px;
    color: var(--white);
  }

  & .ep-profile-parent-group {
    background-color: #32383f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gutter-sm);
    margin-bottom: var(--gutter-sm);
    padding: var(--gutter-xs);

    & .ep-profile-parent-icon {
      background-color: var(--gpe-red);
      max-width: var(--gutter-md);
      max-height: var(--gutter-md);
      margin-right: 0.5rem;
    }

    & .ep-profile-parent-title {
      color: var(--white);
      font-size: var(--font-md);
    }
  }
}
