@import "helpers/mixins.css";

.hero-search-widget {
  /* sizing */
  display: block; /* it's a span */
  max-width: 100%;
  /* positioning */
  position: relative; /* containe results */
  /*margin-left: auto;
  margin-right: auto;*/
}

/* 🔎 */
.hero-search-icon {
  filter: invert(1);
  opacity: 0.3;
  /* positioning */
  @mixin absolute-vertical-center;
  z-index: 1;
  left: var(--gutter-sm);
  /* sizing */
  width: 1.5rem;
  height: 1.5rem;
  /* theming */
  color: var(--gpe-red-1);
  pointer-events: none;
  transform-origin: top center;
  transition:
    color 0.15s ease-out,
    transform 0.15s ease-out;

  & svg {
    width: 100%;
    height: auto;
  }

  @mixin max-md {
    display: none;
  }
}

.hero-search-label {
  display: flex;
}

.hero-search-link {
  /* sizing */
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0.5em 1.5em;
  line-height: 2rem; /* defines height of entire search box */
  width: var(--gutter-xxl);
  /* theming */
  background: var(--gpe-red-1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--white);
  font-size: var(--font-md);
  font-weight: 600;
  letter-spacing: 1px;
  transition: background 0.2s ease-out;

  &:hover, &:focus {
    background: var(--accent-black);
    color: var(--white);
    text-decoration: none;
  }

  &.is-open {
    @mixin max-md {
      border-bottom-right-radius: 0px;
    }
  }

  @mixin max-md {
    font-size: var(--font-xs);
    width: var(--gutter-xxl);
  }
}

.hero-search-label:hover .hero-search-icon,
.hero-search-input:focus + .hero-search-icon {
  transform: scale(1.2) translateY(-50%);
}

/* main search input */
.hero-search-input {
  /* sizing */
  height: 3.5rem;
  width: 100%;
  padding-left: 2.7rem; /* make room for search icon */
  /* theming */
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--white);
  color: var(--dark-1);
  font-size: var(--font-md);
  font-weight: 400;
  /* transitions */
  transition:
    0.2s ease-out box-shadow,
    0.3s ease-out border-color;

    &.no-border {
      border-bottom-left-radius: 0px !important;
    }

  &::placeholder {
    color: var(--dark-1);
    font-weight: 400;
    font-size: var(--font-sm);
  }

  &:focus {
    outline: none;
  }

  @mixin max-md {
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
  }
}

/* search results */
.hero-search-results {
  @mixin list-reset;
  text-align: left;
  text-shadow: none; /* override .home-hero */
  /* positioning */
  position: absolute;
  width: calc(100% - var(--gutter-xxl));
  /* theming */
  background-color: var(--light-1);
  color: var(--white);
  /* handle overflow */
  @mixin vertical-overflow-container;
  max-height: 14.75rem;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

  @mixin max-md {
    width: 100%;
  }
}

/* shared style between actual search results and "no results" message */
.hero-search-result-item,
.hero-search-result-message {
  color: #7d7574;
  padding: var(--gutter-xs) var(--gutter-md);

  /* space out first & last results */
  &:first-child { margin-top: var(--gutter-xs);    }
  &:last-child  { margin-bottom: var(--gutter-xs); }
}
