@import "../../helpers/mixins.css";

.home-explore-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-3);
  height: 80vh;
  padding: var(--gutter-xl);

  @mixin max-lg {
    height: 100%;
  }

  @mixin max-md {
    height: 100%;
  }

  & .home-explore-tiles-title {
    font-size: var(--font-xxl);
    font-weight: 400;
    margin-bottom: var(--gutter-lg);
  }

  & .home-explore-tiles-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--gutter-md) var(--gutter-md);
    grid-auto-flow: column dense;

    @mixin max-lg {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @mixin max-md {
      display: flex;
      flex-direction: column;
    }
  }
}
